:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #D4C000;
    --skin-color-sec: #FFFFB7;
}
.addHive-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5rem;
    
}
.addHive-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addHive-col
{
    display: flex;
    flex-direction: column;
    gap:1rem;
    /* border: 1px solid red; */
}

.addHive-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.addHive-container button[type="submit"] {
    background-color: var(--skin-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.addHive-container button:hover
{
    transition: all 0.5s ease;
    transform: scale(1.05);
}